.button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;

  background: #FFFFFF;
  border: 2px solid #444444;

  transition-duration: 0.2s;
  transition-timing-function: linear;

  cursor: pointer;

  &--form {
    font-size: 17px;
    line-height: 16px;
  }

  &--catalog {
    font-size: 18px;
    line-height: 16px;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 16px;
  }
}

.button:hover {
  background: #444444;
  border: 2px solid #444444;
  color: #FFFFFF;
}

.button:active {
  color: rgba(255, 255, 255, 0.3)
}
