.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:focus + .checkbox__label:before{
    outline: 3px solid #62D1BA;
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  transition-duration: 0.1s;
  transition-timing-function: linear;

  user-select: none;
  cursor: pointer;

  &::before {
    content: "";
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    border: 2px solid #444444;

    flex-shrink: 0;
    transition-duration: 0.1s;
    transition-timing-function: linear;

    margin-right: 24px;
  }

  &::after {
    content: "";
    box-sizing: border-box;
    width: 22px;
    height: 11px;
    border-left: 2px solid #444444;
    border-bottom: 2px solid #444444;
    transform: rotate(-45deg);
    transition-duration: 0.1s;
    transition-timing-function: linear;

    position: absolute;
    top: 11px;
    left: 9px;

    display: none;
  }

  &:hover::before {
    border: 2px solid #62D1BA;
  }

  &:active::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    font-size: 19px;
    line-height: 18px;

    &::before {
      width: 52px;
      height: 52px;

      margin-right: 29px;
    }

    &::after {
      width: 30px;
      height: 15px;
      top: 15px;
      left: 14px;
    }
  }
}
