.contacts {
  font-family: 'Open Sans';
  font-style: normal;

  padding: 0 30px;
  padding-top: 39px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  margin: 0;
  margin-bottom: 28px;
}

.contacts__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  margin-bottom: 63px;
}

.contacts__item {
  display: flex;
  align-items: top;
  justify-content: space-between;

  padding-right: 3px;
  margin-bottom: 30px;
}

.contacts__mail-text {
  padding-right: 12px;
  padding-bottom: 2px;
  border-bottom: 1px solid #62D1BA;
}

.contacts__address {
  display: inline-block;
}

.contacts__map {
  height: 454px;
  width: 320px;
  margin-left: -30px;

  background-image: url("../../img/map-pin.svg"), url("../../img/map-mobile@1x\ 1.png");
  background-repeat: no-repeat;
  background-position: left 138px top 145px, center;

  margin-bottom: 41px;
}

.contacts__button {
  letter-spacing: 0.3px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 50px;
    padding-top: 72px;
    padding-bottom: 57px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 50px;

    position: relative;

    &::after {
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../../img/Vector.svg");

      position: absolute;
      right: 0;
      bottom: -8px;
    }
  }

  .contacts__info {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 17px;
  }

  .contacts__desc {
    margin-right: 25px;
  }

  .contacts__address {
    width: 257px;
  }

  .contacts__map {
    width: 768px;
    background-image: url("../../img/map-pin.svg"), url("../../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top 140px left 360px,center;

    margin-left: -50px;
    margin-bottom: 60px;
  }

  .contacts__button {
    width: 230px;
    margin: 0 auto;
  }


}
