.content {
  background-color: #FFFFFF;
}

.content--catalog {
  /* padding: 0 30px; */
  padding-bottom: 57px;
}

.content__title-wrapper {
  background-color: #F1F1F1;
  padding: 73.5px 30px;
}

.content__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;

  margin: 0;
}

.content__products {
  margin: 30px;
}

.content__creation {
  margin: 0 30px;
}

@media (min-width: $tablet-width) {
  .content__title-wrapper {
    padding-top: 100px;
    padding-bottom: 88px;

    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .content__title {
    font-size: 43px;
    line-height: 50px;
  }

  .content__products {
    margin: 0 50px;
    margin-top: 67px;
    margin-bottom: 50px;
  }

  .content__creation {
    margin: 0 50px;
  }

  .content--catalog {
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .content__title-wrapper {
    padding-top: 100px;
    padding-bottom: 116px;

    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .content__title {
    font-size: 53px;
    line-height: 57px;
  }

  .content__products {
    margin-top: 110px;
    margin-bottom: 55px;
  }

  .content__creation {
    margin: 0 50px;
    margin-bottom: 38px;
  }
}
