.content--catalog {
  padding: 30px;
  padding-bottom: 57px;

  box-sizing: border-box;
  max-width: $mobile-width;
  margin: 0 auto;
}

.content__products {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .content--catalog {
    max-width: $tablet-width;
    margin-bottom: 65px;
    margin-top: 67px;

    padding: 0 50px;
  }

  .content__products {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .content--index {
    max-width: $desktop-width;
    box-sizing: border-box;
    padding: 0 50px;
    margin: 0 auto;
  }

  .content--catalog {
    max-width: $desktop-width;
  }

  .content__products {
    margin-top: 110px;
    margin-bottom: 55px;
  }

  .content__creation {
    margin-bottom: 105px;
  }
}
