.creation {
  font-family: 'Open Sans', 'Arial', sans-serif;
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
  user-select: none;

  padding-top: 22px;

  transition-duration: 0.2s;
  transition-timing-function: linear;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }
}

.creation__title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  margin-bottom: 26px;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 22px;

    background-image: url("../../img/catalog/video.svg");
    background-position: center;
    background-repeat: no-repeat;

    flex-shrink: 0;

    margin-right: 25px;
  }
}

.creation__title-wrapper {
  padding-left: 34px;
}

.creation__video {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  background-image: url("../../img/catalog/video-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog/video-mobile@2x.jpg");
    background-size: contain;
  }
}

.creation__video-button {
  $button-width: 100.6px;
  $button-height: 76.8px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100.6px;
  height: 76.8px;
  border: none;
  border-radius: 22px;

  transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;

  &:hover .creation__video-icon{
    width: $button-width * 1.2;
    height: $button-height * 1.2;
  }

  &:active  .creation__video-icon{
    width: $button-width * 0.8;
    height: $button-height * 0.8;
  }

  &:active {
    width: $button-width * 0.8;
    height: $button-height * 0.8;
    opacity: 0.5;
  }
}

.creation__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  margin: 0;
  margin-left: 34px;
  margin-bottom: 41px;
}

.creation__button {
  width: 192px;

  margin: 0 auto;
  margin-bottom: 33px;
}



@media (min-width: $tablet-width) {
  .creation {
    display: flex;
    flex-direction: column;

    padding: 0
  }

  .creation__video {
    order: 1;

    box-sizing: border-box;
    width: 100%;
    height: 455px;

    background-image: url("../../img/catalog/video-tablet.jpg");
    background-position: center;

    margin-bottom: 38px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/video-tablet@2x.jpg");
      background-size: contain;
    }
  }

  .creation__title-wrapper {
    order: 2;

    padding: 0;
    margin: 0 42px;
  }

  .creation__desc-wrapper {
    order: 3;


    margin: 0 42px;
  }

  .creation__title {
    font-size: 20px;
    line-height: 24px;
    justify-content: flex-start;
    align-items: baseline;


    &::before {
      margin-right: 32px;
    }
  }

  .creation__desc {
    font-size: 15px;
    line-height: 30px;

    margin: 0;
    margin-bottom: 39px;
  }

  .creation__button {
    width: 100%;

    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .creation{
    display: grid;
    grid-template-areas:
    "video title"
    "video desc";
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 25px;
  }

  .creation__video {
    grid-area: video;
    height: 453px;
    background-image: url("../../img/catalog/video-desktop.jpg");
    background-size: cover;
    background-position: center;

    margin: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/catalog/video-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .creation__title-wrapper {
    display: block;

    padding: 0 55px;
    margin: 0;
    margin-top: 47px;
  }

  .creation__title {
    grid-area: title;
    display: block;

    margin: 0;
    margin-bottom: 10px;

    &::before {
      display: block;
      margin-bottom: 25px;
    }
  }

  .creation__desc-wrapper {
    grid-area: desc;

    padding: 0 55px;
    margin: 0;
  }

  .creation__desc {
    margin-bottom: 50px;
  }

  .creation__button {
    width: 100%;
    margin-bottom: 45px;
  }

}
