.footer {
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: #F1F1F1;
}

.footer__inner {
  padding: 23px 30px 10px 30px;
}

.footer__logo {
  display: none;
}

.footer__logo-link {
  fill: #000000;
  transition-duration: 0.1s;
  transition-timing-function: linear;

  &:hover {
    fill: rgba(70, 193, 174, 1);
  }

  &:active{
    fill: rgba(70, 193, 174, 0.3);
  }
}

.footer__socials {
  margin-bottom: 10px;
}



@media (min-width: $tablet-width) {
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    min-height: 143px;

    box-sizing: border-box;
    max-width: $tablet-width;
    margin: 0 auto;
  }

  .footer__logo {
    display: block;
  }

  .footer__socials {
    margin-top: 7px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .footer__inner {
    max-width: $desktop-width;
  }
}
