.form {
  font-family: 'Open Sans';

  padding: 0 30px;
  padding-top: 17px;
  padding-bottom: 57px;

  background-color: #ffffff;
}

.form__desc {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  margin: 0;
  margin-bottom: 30px;
}

.form__item {
  border: none;
  margin: 0;
  padding: 0;

  margin-bottom: 33px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63D1BB;
  white-space: nowrap;
  text-transform: uppercase;
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-left: -2px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 200px;
    height: 1px;

    margin-left: 15px;

    background-color: #62D1BA;
  }
}

.form__name--type {
  margin-bottom: 31px;
}

.form__name--color {
  margin-bottom: 25px;
}

.form__name--fio {
  margin-bottom: 28px;
}

.form__name--tel {
  margin-bottom: 7px;
}

.form__name--comment {
  margin-bottom: 24px;
}

.form__name--mail {
  margin-bottom: 5px;
}

.form__label {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  user-select: none;
  cursor: pointer;
}

.form__radio:not(:last-child) {
  margin-bottom: 12px;
}

.form__checkbox:not(:last-child) {
  margin-bottom: 23px;
}

.form__input-wrapper:not(:last-child) {
  margin-bottom: 22px;
}

.form__textarea {
  margin-bottom: 16px;
}

.form__footnote {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;

  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0;
    padding-top: 55px;
    padding-bottom: 51px;
  }

  .form__desc {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;

    margin-bottom: 13px;
  }

  .form__item {
    position: relative;

    padding: 50px;
    padding-left: 168px + 50px;

    margin: 0;

    &--gray {
      background-color: rgba(241, 241, 241, 1);
    }
  }

  .form__name {
    position: absolute;
    left: 50px;
    top: 68px;

    &::after {
      display: none;
    }
  }

  .form__label {
    font-size: 19px;
    line-height: 18px;
  }

  .form__radio:not(:last-child) {
    margin-bottom: 23px;
  }

  .form__radio:last-child {
    margin-bottom: 0px;
  }

  .form__item--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    padding-bottom: 29px;
  }

  .form__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .form__label--input {
    margin-right: 25px;
  }

  .form__item--tel {
    padding-bottom: 0;
  }

  .form__item--email {
    padding-top: 24px;
  }

  .form__name--mail {
    top: 43px;
  }

  .form__item--comment {
    padding-bottom: 53px;
  }

  .form__textarea {
    margin: 0;
  }

  .form__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 50px;
  }

  .form__footnote {
    order: 2;
    font-size: 17px;
    line-height: 30px;

    margin: 0;
  }

  .form__button {
    order: 1;
    width: 230px;

    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 98px;
    padding-bottom: 50px;
    overflow-x: hidden;
  }

  .form__desc {
    padding: 0 225px;

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }

  .form__item {
    padding-top: 50px;
    padding-left: 225px;
    padding-right: 225px;

    /* padding: 0 225px; */
  }

  .form__name {
    left: 111px;
  }

  .form__item--checkbox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
  }

  .form__item--fio {
    padding-top: 48px;
  }

  .form__item--email {
    padding-top: 25px;
  }

  .form__item--comment {
    padding-bottom: 48px;
  }

  .form__button-container {
    margin: 0;
    padding: 0 225px;
  }
}
