.header {
  position: relative;
  z-index: 3;
}

.header__button {
  position: absolute;
  right: 30px;
  top: 29px;

  width: 21px;
  height: 20px;
  background-image: url("../../img/menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;

  border: none;
  cursor: pointer;

  &--menu-opened {
    background-image: url("../../img/menu-close.svg");
  }

}


@media (min-width: $tablet-width) {
  .header__button {
    display: none;
  }
}
