.header {
  position: relative;
  z-index: 3;
}

.header__button {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 79px;
  height: 79px;
  background-image: url("../../img/menu-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;

  border: none;
  cursor: pointer;

  &--menu-closed {
    background-image: url("../../img/menu.svg");
  }

}

.header--no-js .header__button {
  display: none;
}



@media (min-width: $tablet-width) {
  .header__button {
    display: none;
  }

  .header__menu {
    z-index: 2;
  }

  .header__promo {
    z-index: 1;
    margin-top: -67px;
  }
}
