.input {
  position: relative;

  &--tel .input__body{
    padding-bottom: 8px;
  }

  &--mail .input__body{
    padding-bottom: 8px;
  }
}

.input__body {
  display: block;
  position: relative;
  height: 52px;

  box-sizing: border-box;
  width: 100%;

  border: none;
  background-color: transparent;
  box-shadow: inset 0px -2px 0px #000000;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  color: #444444;
  z-index: 2;

  &::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
  }

  &:hover {
    box-shadow: inset 0px -2px 0px #62D1BA;
  }

  &:hover + .input__icon{
    color: #62D1BA;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px -2px 0px #62D1BA;
  }

  &:focus + .input__icon{
    color: #62D1BA;
  }
}

.input__icon {
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
}

.input--tel .input__icon {
  right: 8px;
  bottom: 18px;
}

.input--mail .input__icon {
  right: 4px;
  bottom: 16px;
}

@media (min-width: $tablet-width) {
  .input__body {
    padding-left: 16px;

    &::placeholder {
      font-weight: 400;
      font-size: 19px;
      line-height: 18px;
    }
  }

  .input--tel .input__icon {
    right: 25px;
    bottom: 18px;
  }

  .input--mail .input__icon {
    right: 20px;
    bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .input--tel .input__icon {
    right: 8px;
    bottom: 18px;
  }

  .input--mail .input__icon {
    right: 4px;
    bottom: 16px;
  }
}
