.main-product {
  font-family: 'Open Sans';
  font-style: normal;

  padding: 0 30px;
  padding-top: 32px;
  padding-bottom: 40px;

  background-color: #ffffff;
  background-image: url("../../img/zigzag-line-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.main-product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  margin: 0;
  margin-bottom: 4px;
}

.main-product__subtitle {

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63D1BB;

  margin: 0;
  margin-bottom: 18px;
}

.main-product__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  margin: 0;
  margin-bottom: 20px;
}

.main-product-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  display: block;
  margin-bottom: 28px;
}

.main-product-info tbody {
  display: block;
}

.main-product-info__row {
  display: block;
  box-sizing: border-box;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #ECECEC;

  padding: 0;
  margin: 0;
  margin-left: -3px;
}

.main-product-info__row td {
  border: 0;
  padding: 0;
  margin: 0;
}

.main-product-info__column {
  vertical-align: middle;
  width: 97px;
  height: 33px;
}

.main-product__image {
  margin-bottom: 22px;
}

.main-product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;

  margin: 0;
  margin-bottom: 23.5px;
}

@media (min-width:$tablet-width) {
  .main-product {
    padding: 40px 50px 68px 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main-product__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
  }

  .main-product__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .main-product__subtitle {
    text-align: center;
    font-size: 17px;
    line-height: 17px;

    width: 100px;
    margin: 0;
    margin-right: 14px;
  }

  .main-product__content-wrapper {
    display: grid;
    grid-template-areas:
      "desc image"
      "table image"
      "price image"
      "button image";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
  }

  .main-product__desc {
    grid-area: desc;

    font-size: 17px;
    line-height: 30px;

    margin-bottom: 39px;
  }

  .main-product__info {
    grid-area: table;

    margin-bottom: 56px;
  }

  .main-product__price {
    grid-area: price;

    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .main-product__button {
    grid-area: button;
    height: 52px;
  }

  .main-product__image {
    grid-area: image;
    align-self: center;

    width: 334px;
    height: 404px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media (min-width:$desktop-width) {
  .main-product {
    position: relative;
    padding: 0;
    padding-top: 125px;
    padding-bottom: 93px;

    margin: 0 50px;
  }

  .main-product__title-wrapper {
    display: grid;
    grid-template-columns: 175px 1fr;

    margin-bottom: 38px;
  }

  .main-product__subtitle {
    order: 1;

    font-weight: 700;
    font-size: 17px;
    line-height: 17px;

    margin: auto;
  }

  .main-product__title {
    order: 2;

    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    z-index: 2;
  }

  .main-product__content-wrapper {
    padding-left: 175px;
    grid-template-columns: 292px 1fr;
    grid-column-gap: 58px;
  }


  .main-product__image {
    position: absolute;
    top: 55px;
    right: 0px;

    width: 525px;
    height: 636px;
    z-index: 0;
  }

  .main-product__desc {
    margin-bottom: 50px;
  }

  .main-product__info {
    margin-bottom: 110px;
  }

  .main-product__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 34px;
  }

  .main-product__price {
    width: 100%;
  }
}
