.page {
  min-width: $mobile-width;
  margin: 0 auto;

  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page__modal {
  display: none;

  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;

  &--shown {
    display: block;
  }
}

.page__overlay {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;

  background-color: #FFFFFF;
  opacity: 0.9;

  &--shown {
    display: block;
  }
}


@media (min-width:$tablet-width) {

}

@media (min-width:$desktop-width) {

}

