.products {
  font-family: 'Open Sans';
  background-color: #FFFFFF;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  border: 1px solid #ECECEC;
  margin-bottom: 30px;
}

.products__item:last-child {
  margin: 0;
}

.product__desc {
  padding: 0 28px;
}

.product__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  margin-top: 24px;
  margin-bottom: 5px;

  &--big-basket {
    margin-top: 20px;
    margin-bottom: 9px;
  }
}

.product__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  margin: 0;
  margin-bottom: 16px;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

  border-top: 1px solid #ECECEC;
  background-image: url("../../img/cart.svg");
  background-repeat: no-repeat;
  background-position: right -2px top 22px;

  padding-top: 23px;

  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
  }

  .product__image {
    width: 334px;
    height: 334px;
  }

  .product__desc {
    box-sizing: border-box;
    padding: 27px 30px 25px 32px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 6px;
  }

  .product__info {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    margin: 0;
  }

  .product__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;

    background-position: right 0px top 22px;

    width: 100%;
    padding-top: 25px;
    margin-bottom: 0;
  }

  .products__item:not(:last-child) {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    justify-content: space-between;
  }

  .products__item:not(:last-child) {
    margin: 0;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }

  .product__image {
    flex-shrink: 0;
    width: 316px;
    height: 462px;
  }

  .product__desc {
    padding-left: 25px;
    height: 100%;
  }

  .product__info {
    margin-bottom: 11px;
  }

  .product__price {
    background-position: right 0 top 24px;
  }
}
