.products {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  margin-bottom: 31px;
}

.products__item:last-child {
  margin: 0;
}


@media (min-width: $tablet-width) {
  .products__item:not(:last-child) {
    margin-bottom: 52px;
  }
}


@media (min-width: $desktop-width) {
  .products__list {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    justify-content: space-between;
  }

  .products__item:not(:last-child) {
    margin: 0;
  }
}
