.products {
  font-family: 'Open Sans';
  background-color: #FFFFFF;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  margin-bottom: 31px;
}

.products__item:last-child {
  margin: 0;
}

.product {
  user-select: none;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  &:hover .product__desc {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .product__desc{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product__desc {
  border: 1px solid #ECECEC;
  padding: 0 28px;
}

.product__image {
  display: block;
}

.product__name {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  margin-top: 28px;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  margin: 0;
  margin-bottom: 16px;
}

.product__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 23px;
  border-top: 1px solid #ECECEC;

  margin: 0;
  margin-bottom: 25px;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

  margin: 0;
}

.product__cart-icon {
  fill: #000000;
  opacity: 0.2;
  cursor: pointer;

  &:hover {
    fill: #63D1BB;
    opacity: 1;
  }

  &:active {
    fill: #63D1BB;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
  }

  .product__image {
    width: 334px;
    height: 334px;
  }

  .product__desc {
    box-sizing: border-box;
    padding: 27px 30px 25px 32px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 6px;
  }

  .product__info {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;

    margin: 0;
  }

  .product__price-wrapper {
    width: 100%;
    padding-top: 25px;
    margin-bottom: 0;
  }

  .product__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .products__item:not(:last-child) {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    justify-content: space-between;
  }

  .products__item:not(:last-child) {
    margin: 0;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product__image {
    width: 316px;
    height: 462px;
  }

  .product__desc {
    padding-left: 25px;
    height: 100%;
  }

  .product__info {
    margin-bottom: 11px;
  }
}
