.promo {
  padding-top: 74px;
  background-color: #ffffff;
  background-image: url("../../img/index/hero-mobile@2x.jpg");
  background-position: top -15px center;
  z-index: 1;
}

.promo__title-wrapper {
  padding: 0 30px;
  margin-bottom: 120px;
}

.promo__title {
  color: #000000;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  margin: 0;
}

.promo-block {
  position: relative;
  height: 103px;
  background-color: #63D1BB;

  color: #FFFFFF;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 30px;

  &:hover {
    background-color: #59D5BC;
    box-shadow: 0 -5px 0 0px #59D5BC;
    padding-bottom: 5px;
  }

  &:hover .promo-block__icon{
    opacity: 0.7;
  }

  &:active {
    background-color: #59D5BC;
  }

  &:active .promo-block__icon{
    opacity: 0.3;
  }

  &--dark {
    background-color: #56C3B2;
  }

  &--dark:hover {
    background-color: #46C1AE;
    box-shadow: 0 -5px 0 0px #46C1AE;
  }

  &--dark:active {
    background-color: #46C1AE;
  }

}

.promo-block__icon {
  position: absolute;
  opacity: 0.5;

  &--interior {
    right: 36px;
  }

  &--toy {
    right: 27px;
  }
}

.promo-block__name {
  margin: 0;
  max-width: 30px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 156px 50px 12px 50px;
    background-image: url("../../img/index/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top -2px center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-repeat: repeat;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/hero-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .promo__title-wrapper {
    margin-bottom: 371px;
  }

  .promo__title {
    flex-grow: 1;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;

    margin-left: -5px;
  }

  .promo__title br {
    display: none;
  }

  .promo-block {
    flex-grow: 1;
    height: 119px;

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    padding-left: 37px;
  }

  .promo-block__icon--toy {
    right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("../../img/index/hero-desktop.jpg") ;
    background-position: top 0px center;
    background-repeat: no-repeat;
    padding-top: 78px;
    padding-bottom: 5px;
    overflow-x: hidden;

    &::after {
      left: -50px;
      min-width: 1250px;
      background-size: cover;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/hero-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .promo__title-wrapper {
    padding: 0 175px;

    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 355px;
  }

  .promo__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}
