.promo {
  font-family: "Open Sans", "Arial", sans-serif;
  padding-top: 74px;
  background-color: #F9F9F9;
  background-image: url("../../img/index/hero-mobile@2x.jpg");
  background-position: top -15px center;
  background-repeat: no-repeat;
  z-index: 1;
  border-top: 1px solid rgba(0,0,0,.1);
}

.promo__inner {
  box-sizing: border-box;
  max-width: $mobile-width;
  margin: 0 auto;
}

.promo__title-wrapper {
  padding: 0 30px;
  margin-bottom: 120px;
}

.promo__title {
  color: #000000;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  margin: 0;

  & code {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: url("../../img/index/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top -2px center;
    background-size: auto;


    position: relative;
    padding-top: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-repeat: repeat;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/hero-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .promo__inner {
    box-sizing: border-box;
    max-width: $tablet-width;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    padding: 156px 50px 12px 50px;
  }

  .promo__title-wrapper {
    margin-bottom: 371px;
  }

  .promo__title {
    flex-grow: 1;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;

    margin-left: -5px;

    & pre {
      display: inline;
      font-family: inherit;
      font-weight: 700;
      font-size: 43px;
      line-height: 50px;
    }
  }

  .promo__break {
    display: none;
  }

  .promo__blocks-container {
    display: flex;
    flex-wrap: wrap;
  }

  .promo__block {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("../../img/index/hero-desktop.jpg");
    background-position: top 0px center;
    background-repeat: no-repeat;
    overflow-x: hidden;

    &::after {
      width: 100%;
      background-size: auto 34px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/hero-desktop@2x.jpg");
      background-size: contain;
    }
  }

  .promo__inner {
    max-width: $desktop-width;
    padding-top: 78px;
    padding-bottom: 5px;
  }

  .promo__title-wrapper {
    padding: 0 175px;

    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 355px;
  }

  .promo__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}
