.promo {
  background-color: #ffffff;
  background-image: url("../../img/hero-mobile@2x\ 1.jpg");
  /* background-repeat: no-repeat; */
  background-position: top -15px center;
  z-index: 1;
}

.promo__title-wrapper {
  padding: 0 30px;

  margin-top: 74px;
  margin-bottom: 120px;
}

.promo__title {
  color: #000000;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  margin: 0;
}

.promo-block {
  height: 103px;
  background-color: #63D1BB;
  background-image: url("../../img/interior.svg");
  background-position: right 40px center;
  background-repeat: no-repeat;

  color: #FFFFFF;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  display: flex;
  align-items: center;

  padding: 0 30px;

  &--dark {
    background-color: #56C3B2;
    background-image: url("../../img/toy.svg");
    background-position: right 30px center;
  }

}

.promo-block__name {
  margin: 0;
  max-width: 30px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 80px 50px 13px 50px;
    background-image: url("../../img/hero-desktop\ 3.jpg");
    background-repeat: repeat;
    background-position: top -2px left 15px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-repeat: repeat;
    }
  }

  .promo__title-wrapper {
    margin-bottom: 372px;
  }

  .promo__title {
    flex-grow: 1;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;

    margin-left: -5px;
  }

  .promo__title br {
    display: none;
  }

  .promo-block {
    flex-grow: 1;
    height: 119px;

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    padding-left: 37px;

    background-position: right 37px center;

    &--dark {
      background-position: right 32px top 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: url("../../img/hero-desktop\ 1.jpg") ;
    background-position: top 0px center;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    overflow-x: hidden;

    &::after {
      left: -50px;
      min-width: 1250px;
      background-size: cover;
    }
  }

  .promo__title-wrapper {
    padding: 0 175px;

    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 354px;
  }

  .promo__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}
