@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/promo.scss";
@import "blocks/product.scss";
@import "blocks/features.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";


@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.woff") format("woff"),
		url("../fonts/opensans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensansbold.woff") format("woff"),
		url("../fonts/opensansbold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

body {
  width: 320px;
  background-color: #000000;
  margin: 0 auto;

  font-family: "Open Sans";
}
